* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #1d1b2c);
    color: #fff;
    min-height: 100vh;
}

/* header styles */
.geral-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

h2 span {
    opacity: 0.8;
}

.title {
    margin-left: 28px;
}

.ul-container {
    display: flex;
    margin-right: 20px;
}

li a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.ul-container li a:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

li {
    list-style: none;
    margin: 0 10px;
}



/* ------------------ */

/* main styles */
.container-geral-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    padding-top: 100px;
    position: relative;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.img img {
    width: 300px;
    box-shadow: 1px 1px 8px #000;
    border-radius: 50%;
}

.imgs-icons-contact {
    position: absolute;
    left: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imgs-icons-contact a {
    color: #fff;
}

.imgs-icons-contact a:hover {
    opacity: 0.8;
}

.button-contact {
    width: 120px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #6D54E1;
}

.button-contact a {
    text-decoration: none;
    color: #fff;
}

.texto {
    opacity: 0.8;
    width: 200px;
}


/* SKILLS */
#skills {
    display: flex;
    justify-content: end;
    position: absolute;
    pointer-events: none;
    top: 100px;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#skills.show {
    opacity: 1;
    pointer-events: auto;
}


.container-de-skills {
    display: flex;
    flex-direction: column;
    background-color: #6D54E1;
    width: 200px;
    border-radius: 5px;
    height: 300px;
    box-shadow: 1px 1px 5px #000;
}

.container-de-skills h3 {
    text-align: center;
    text-shadow: 1px 1px 0.5px #000;
}

.container-img-skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
}

.container-img-skills img {
    width: 50px;
}


/* CONTACTS */
#contacts-id {
    display: flex;
    justify-content: end;
    position: absolute;
    pointer-events: none;
    top: 100px;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#contacts-id.visible {
    opacity: 1;
    pointer-events: auto;
}

.container-contacts {
    display: flex;
    flex-direction: column;
    background-color: #6D54E1;
    width: 200px;
    border-radius: 5px;
    height: 300px;
    box-shadow: 1px 1px 5px #000;
}

.container-contacts h3 {
    text-align: center;
    text-shadow: 1px 1px 0.5px #000;
}

.container-img-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
}

.container-img-contacts img {
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
}